/*ESTRUCTURA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo {
  height: 60px;
  float: left; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black !important; }

footer {
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  height: 40px; }
  footer p {
    color: white;
    font-size: 18px;
    text-align: center; }

/*--------------------------------*/
/*TIPOGRAFIAS*/
.titleCarrito {
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  color: white; }

.textCarrito {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: white; }

.fontTitulo {
  display: grid;
  place-items: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  color: white; }

.textForm {
  font-size: 12px;
  margin-left: auto !important;
  margin-right: auto !important; }

/*--------------------------------*/
/*EFECTOS*/
.efectocursor {
  filter: brightness(70%); }
  .efectocursor:hover {
    filter: brightness(100%); }

/*--------------------------------*/
/*CARD*/
.botonEstilo {
  height: 25px;
  right: 10px; }

.borderCard {
  margin-left: 20px; }

.alinear {
  width: 300px;
  height: 200px; }

/*--------------------------------*/
/*FORMULARIO*/
.containerForm {
  display: flex;
  justify-content: center; }

.textForm {
  font-family: 'Source Code Pro', monospace;
  color: white; }

.centerTitulo {
  display: grid;
  place-items: center;
  color: white;
  font-size: 15px; }

/*--------------------------------*/
/*RESPOSIVE*/
@media only screen and (max-width: 768px) {
  /*DATOS ESTRUCTURA*/
  .items .row {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
    margin-left: 50px;
    margin-right: 80px; }
  .shopping-cart-image {
    width: 50px;
    height: 40px; }
  .shoppingCartItemPrice {
    font-size: 10px; }
  .shoppingCartItemTitle {
    font-size: 10px; }
  .shoppingCartItemQuantity {
    font-size: 7px;
    background-color: darkslateblue; }
  .buttonDelete {
    font-size: 5px !important; }
  /*TITULOS CARRITO*/
  .textCarrito {
    font-size: 10px; }
  .titleCarrito {
    font-size: 20px; }
  .textForm {
    font-size: 12px;
    margin-left: auto !important;
    margin-right: auto !important; }
  .centerTitulo {
    display: grid;
    place-items: center;
    font-size: 10px; }
  .fontTitulo {
    display: grid;
    place-items: center;
    font-size: 22px; }
  /*DATOS CARD*/
  .addToCart {
    width: 100px;
    height: 40px;
    font-size: 7px !important; }
  .item-title {
    font-size: 14px; }
  .item-image {
    width: 200px !important;
    height: 150px; }
  .item-price {
    font-size: 17px; }
  .item-price2 {
    font-size: 10px; }
  .comprarButton {
    height: 25px;
    font-size: 5px !important; }
  /*NAVBAR*/
  .logo {
    margin-left: auto;
    margin-right: auto; }
  header a {
    margin-left: auto !important;
    margin-right: auto !important; }
  footer p {
    color: white;
    font-size: 12px;
    text-align: center; } }

/*--------------------------------*/
