/*TIPOGRAFIAS*/
.titleCarrito{
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	color: white;

}

.textCarrito{
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	color: white;
}

.fontTitulo {
	display: grid;
	place-items: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 45px;
	color: white;
}
/*--------------------------------*/