/*TIPOGRAFIAS*/
.titleCarrito{
	font-family: 'Orbitron', sans-serif;
	font-size: 45px;
	color: white;

}

.textCarrito{
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	color: white;
}

.fontTitulo {
	display: grid;
	place-items: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 45px;
	color: white;
}

.textForm{
	font-size: 12px;
	margin-left: auto !important;
	margin-right: auto !important;   
}
/*--------------------------------*/